.login{
    width: 600px; 
    padding:20px;
    
}
div.body{
  
    height: 100vh; 
}
input {
    width: 100%;
}
div.flex{
    
    padding: 0px 25px;
}
p{
text-align: right;
font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0px 25px;
}
img{
text-align: right; 
    margin: 0px 25px;

}