<div class="m-0   align-items-center">

    <mat-card class="align-items-center" appearance="outlined">
        <img src="assets/food.png" alt="" width="120px">
        <p class="title"> سلطه</p>
        <p class="price">100 ج.م</p>
        <div class="row m-0 mb-3 p-0  d-flex justify-content-around w-100">
           <div class="col-xs-6 m-0">
            <div class="row m-0 d-flex align-items-center quantity ">
                <img src="assets/minus.png" width="20px" alt="" style="cursor: pointer;">
                <p class="p-0 mx-2 my-0">0</p>
                <img src="assets/add.png" alt="" width="20px" style="cursor: pointer;">
                
               </div>
           </div>
           <div class="col-xs-6 m-0">
            
            <button class="cart" pButton pRipple label="اضف الى السلة ">
            </button>
           </div>
           
        </div>
        <button pButton pRipple  class="pi pi-heart favorite" >
        </button>
    </mat-card>
    <div class="buy mt-3 d-flex justify-content-center">
        <button pButton pRipple label="اطلب الآن">
        </button>
    </div>

</div>