.head {
    text-align: start;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 800;
    color: #A20C0D;
}

.add-favorite {
    height: 50px;
    width: 50px;
    border: 1px solid green;
    background-color: white;
    border-radius: 3px;
}
p{
    text-align: start;
}