.head {
    text-align: start;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 800;
    color: #A20C0D;
}

.add-favorite {
    height: 50px;
    width: 50px;
    border: 1px solid green;
    background-color: white;
    border-radius: 3px;
}

p {
    text-align: start;
}

.price {
    font-family: IBM Plex Sans Arabic;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.q-control button {
    border-radius: 3px;
    background: white;
    border: 1px solid #A20C0D;
    padding: 8px 12px;

}

.actions button {

    font-family: Graphik Arabic;
    font-size: 0.85em;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    width: 100%;

    border: 1px solid #A20C0D;
    background: #A20C0D;
    margin: 0px 5px
}

.add-to-cart button {

    font-family: Graphik Arabic;
    font-size: 0.85em;
    font-weight: 400;
    text-align: center;
    border-radius: 10px; 
    color: #A20C0D;
    width: 100%;
    border: 1px solid #A20C0D;
    background: white;
    margin: 0px 5px
}

 
.buttons-action div {
    width: 35%;
 
}
.addition-item{
margin:5px 10px;
    input{
        margin: 0px 3px;
    }
}