.web {
    width: 90%;
}

.mob {
    width: 90%;
}

p {
    font-family: IBM Plex Sans Arabic;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: #A20C0D;

}

.partitions {
    width: 100%;
    margin: 0px;
}

.menu-card {
    width: 80%;
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgb(194, 193, 193);
    margin: 10px;
}