 

<mat-card class="align-items-start  item px-4 py-3 mx-2" appearance="outlined">
    <div class="row w-100 m-0 justify-content-between d-flex">
        <p style="font-weight: 800;">{{ hireItem.title}}</p>
        <p style="color: rgb(168, 168, 168);"><i class="pi pi-map-marker"></i> {{ hireItem.branch}}</p>
    </div>
    <p><i class="pi pi-clock"></i> {{hireItem.time}}</p>
    <p>{{hireItem.experience}}</p>
    <div class="apply">
        <button pButton pRipple  label="التفاصيل والتقديم">
        </button>
    </div>
</mat-card>

 