p {
    padding: 0px;
}

button {
    border-radius: 5px;
    background: #A20C0D;
    border: 1px solid #A20C0D;
}

.quantity {

    padding: 10px;
    align-items: center;
}

.delete {
    border: 0px;
    background-color: transparent;
}

.price {
    text-align: start;
}

.button {
    height: 45px;
 }